*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

// #body{
//     background-color: #212121;
// }
.butt{
    font-weight: 600;
    background-color: #f6b93b;
    border-radius: 5px;
    box-shadow:    -4px 4px #000000;
    padding:       20px 45px;
    color:         black;
    display:       inline-block;
    text-align:    center;
}
